
  <ul class="nav nav-tabs" role="tablist">
   <li role="presentation" ng-class="{'active' : checkLocation('/carInsurance')}"><a href="#!/car-insurance-data" aria-controls="home" role="tab" data-toggle="tab">Car Insurance</a></li>

   <li role="presentation" ng-class="{'active' : checkLocation('/userDetails')}"><a href="#!/user-details" aria-controls="profile" role="tab" data-toggle="tab">User Details</a></li>

   <li role="presentation" ng-class="{'active' : checkLocation('/emergencyContacts')}"><a href="#!/emergency-contact" aria-controls="messages" role="tab" data-toggle="tab">Emergency Contact Details</a></li>

   <li role="presentation" ng-class="{'active' : checkLocation('/nomineesData')}"><a href="#!/nominees-contact" aria-controls="settings" role="tab" data-toggle="tab">Nominees</a></li>
 </ul>

